.description-img {
  width: 100%;
}
.description-title {
  margin: 20px 0;
  display: flex;
  gap: 8px;
  h2:first-child {
    font-weight: 200;
  }
}
.description-list {
  padding: 0;
}
.description-text {
  h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 1.2rem;
  }
}
