.join-even-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #ffaa00;
  }
  button {
    width: 200px;
    height: 60px;
    cursor: pointer;
    border: 4px solid #ffaa00;
    border-radius: 83px;
    box-sizing: border-box;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 46px;
    /* identical to box height */
    background-color: transparent;
    text-decoration-line: underline;
    color: #ffaa00;
    transition: 0.3s;
  }
  button:hover {
    background-color: #ffaa00;
    color: white;
  }
}
